html
  head
    title KC study Center
    block scripts   
    block style   
  body
    nav#navbar 
        ul 
          div#logo
            img(src="../static/icons8-address-book-48.png")
            p KC Study CENTER
          li#li1 #[a(href="/") Home]
          li#li2 #[a(href="/contact") Contact]
          li#li3 #[a(href="/") Service]
          li#li4 #[a(href="/") About]
          
    block content
    block#footer
      |Copyrights by KC study center - 2022   